/* You can add global styles to this file, and also import other style files */
@import '~bootstrap/dist/css/bootstrap.css';    

.navbar-content
{
    padding: 10px;
    background-color: black;
}

.navbar-text
{
    color: white;
}
